.expImg {
  width: 60px;
  height: 60px;
}
.expContainer {
  width: 300px;
  min-height: 140px;
  border: 1px solid #ccc;
  padding: 16px;
  cursor: pointer;
  margin: 16px;
  overflow: hidden;
}
.paddingLeft0 {
  padding-left: 0;
}
.org {
  color: #7f8a90;
  font-size: small;
}
