.projectUl{
  list-style: none;
}
.imgItem {
  border-radius: 50%;
  max-width: 100px;
  border: 1px solid #ddd;
}

.btn {
  height: 30px;
  min-width: 64px;
  padding: 1px 8px;
  outline: none !important;
}
.github {
  background-color: #424242;
  color: white;
}
.github:hover,
.npm:hover,
.react:hover {
  color: white;
}
.npm {
  background-color: #cb3837;
  color: white;
}
.react {
  color: white;
  background-color: #61dbfb;
}
.name{
  font-size: 1.3em;
  color: #666;
}